{% extends 'base.html.twig' %}
{% block body %}
{% for book in books%}
    <h2>{{book.title}}</h2>
    <p>{{book.resume}}</p>
    <strong>Written by {{book.author.firstname}} {{book.author.lastname}}</strong>
{%endfor%}
{% endblock %}